.main-card{
    width: 905;
	padding: 24px 32px;
	background: ghostwhite;
	display: flex;
	border-radius: 8px;
	flex-direction: column;

}

.sportevent{
  justify-content: space-around;
	display: flex;

}
.name{
  color: grey;
}

.venue{
    font-size: 20px;
    color: gray;
    font-weight: 400;
    font-size: 20px;
    font-family: sans-serif;
    
}

.vs{
    color: black;
    font-size: x-large;
    font-weight: 900;
    font-style: calc();
    text-transform: uppercase;
}

.result{
color: black;
}